<template>
    <div
     class="rating-button"
     :style="buttonStyle" 
      @click="handleClick"
    >
      <i :class="buttonClass"></i>
    </div>
</template>
<script>

export default {
  name: 'RatingButton',
  props: {
    buttonClass: Array,
    buttonStyle: Object,
    handleClick: Function
  },
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="scss" scoped>
  .rating-button {
      flex-basis: 20%;
      font-size: 5em;
      border-radius: 50%;
      flex-direction: column;
      text-align: center;
      margin: 3px 0;
      padding-top: 2.5%;
    &:hover {
      cursor: pointer;
    }
  }
  @media (max-width: 950px) { 
    .rating-button, .dislike-button {
      border-radius: 0;
    }
  }
</style>
