<style>
  [v-cloak] {
    display: none;
  }
</style>
<template>
  <div class="list_users">

    <div v-if="renderNoUsers()" v-cloak class="no_users"> No Users </div>
    <div v-else class="all_users" >
    <transition-group name="custom-classes-transition"
    enter-active-class="animated tada"
    leave-active-class="animated bounceOutRight" tag="div">
      <User v-for="(user) in users" :user-data="user" :key="user.cell" />
    </transition-group>
    </div>

  </div>
</template>

<script>
import axios from 'axios'
import User from './User.vue'

export default {
  name: 'UsersList',
  components: {
    User
  },
  data () {
    return {
      users: [],
      intialised: false
    }
  },
  created: function () {
    this.fetchData()
  },
  methods: {
    fetchData: function () {
      axios.get('https://randomuser.me/api/?results=50')
        .then((res) => {
          console.log(res.data.results)
          this.users = res.data.results
          this.intialised = true
        })
    },
    renderNoUsers: function () {
      return this.intialised && this.users.length === 0
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="scss" >
  .list_users{
    .no_users, .all_users {
      display: flex;
      flex-direction: column;
      flex-wrap:  wrap;
      width: 100%;
    }
  }
</style>
