<template>
  <div class="user-details">
    <div class="text-details">
    <div>
      <strong> Gender: </strong>
      {{ userData.gender | renderData | capitalize }}
    </div>
    <div>
      <strong> DOB: </strong>
      {{ userData.dob.date | renderDate }}
    </div>
    <div>
      <strong> Age: </strong>
      {{ userData.dob.age | renderData }}
    </div>
    <div>
      <strong> Mobile: </strong>
      {{ userData.cell | renderData }}
    </div>
    <div>
    <strong> Phone: </strong>
      {{ userData.phone | renderData }}
    </div>
    <div>
      <strong> Email: </strong>
      {{ userData.email | renderData }}
    </div>
    <div>
      <strong> Likes: </strong>
      {{ likes }}
      <strong> Dislikes: </strong>
      {{ dislikes }}
    </div>
    </div>
    <rating-button
     :buttonStyle="{backgroundColor: 'lightblue',  paddingTop: '3%'}"
     :buttonClass="['fas', 'fa-thumbs-up']"
     :handle-click="handleLikeClick" />
    <rating-button
     :buttonStyle="{backgroundColor: 'orange', paddingTop: '4%'}"
     :buttonClass="['fas', 'fa-thumbs-down']"
     :handle-click="handleDisLikeClick" />
  </div>
</template>
<script>
import RatingButton from './RatingButton.vue'

export default {
  name: 'UserDetails',
  components: {
    RatingButton
  },
  props: {
    userData: Object
  },
  data: function () {
    return {
      likes: 0,
      dislikes: 0
    }
  },
  methods: {
    handleLikeClick: function () {
      return this.likes++
    },
    handleDisLikeClick: function () {
      return this.dislikes++
    }
  },
  filters: {
    renderDate: function (value) {
      if (!value) return 'N/A'
      const date = new Date(value)
      return date.getDate() + '-' + (date.getMonth() + 1) + '-' + date.getFullYear()
    },
    renderData: function (value) {
      if (!value) return 'N/A'
      return value
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="scss" scoped>
  .user-details {
    padding: 20px;
    flex-basis: 80%;
    display: flex;
    flex-direction: row;
    .text-details {
      flex-basis: 75%;
      display: flex;
      flex-direction: column;
      div {
        text-align: start;
        padding: 2px 0;
      }
    }
  }

  @media (max-width: 950px) {
    .user-details {
      flex-direction: column;
      .text-details {
        flex-basis: 100%;
        padding-bottom: 1em;
        div {
          text-align: center;
        }
      }
      .like-button, .dislike-button {
        border-radius: 0;
      }
    }
  }
</style>
