<template>
  <div class="user-box">
      <div class="user-img">
        <img :src="userData.picture.large" alt="Avatar"/>
        <p>{{userData.name.first | capitalize }} {{userData.name.last | capitalize}} </p>
      </div>
      <user-details :user-data="userData" :key="userData.phone"/>
  </div>
</template>

<script>
import UserDetails from './UserDetails.vue'
export default {
  name: 'User',
  components: {
    UserDetails
  },
  props: {
    userData: Object
  },
  filters: {
    log: function (value) {
      console.log(value)
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="scss" scoped>
  .user-box {
      padding: 20px;
      display: flex;
      flex-direction: row;
    .user-img {
        flex-basis: 20%;
        border-right: lightgray solid 1px;
      img {
        border-radius: 50%;
      }
      p {
          font-weight: 600;
      }
    }
  }

  @media (max-width: 950px) {
    .user-box {
      flex-direction: column !important;
      .user-img {
        flex-basis: 100%;
        border-bottom: lightgray solid 1px;
        border-right: none;

      }
    }
  }
</style>
